body {
  font-family: "Lilita One", cursive;
  text-shadow: -2px 2px #000000cc;
  color: white;
  background: linear-gradient(25deg, #6e13ff, #9b10a0);
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 40pt;
  text-align: center;
  text-shadow: -5px 5px #000000cc;
}

main {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

#side-panel {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: center;
}

fieldset {
  font-size: 16pt;
  text-shadow: -3px 3px #000000cc;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: -3px 3px #000000cc;
  background-color: #00000028;
}

legend {
  font-size: 20pt;
}

#board {
  display: flex;
  flex-wrap: wrap;
  border: solid 5px rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: -5px 5px #000000cc;
  width: 800px;
  height: 800px;
}

.square {
  width: 50px;
  height: 50px;
  user-select: none;
}

#sketch-size-number {
  display: inline-block;
  text-align: center;
  min-width: 2em;
}

#controls > div {
  display: flex;
  align-items: baseline;
}

#controls > div > span {
  transform: translateY(-5px);
}

img {
  filter: invert(100%) drop-shadow(-2px 2px #000000cc);
}
