body {
  background: linear-gradient(25deg, #6e13ff, #9b10a0);
}

#board {
  display: flex;
  flex-wrap: wrap;
  border: solid 5px black;
  width: 800px;
  height: 800px;
}

.square {
  width: 50px;
  height: 50px;
  user-select: none;
}
